<nz-layout style="height: 100%">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'" [nzTrigger]="triggerTemplate" class="sider-overflow">
    <app-menu [isCollapsed]="isCollapsed" (addNewTab)="newTab($event)"></app-menu>
  </nz-sider>

  <nz-layout style="height: calc(100% - 70px)">
    <!-- <nz-header style="background: #fff; padding:0;">
      <button nz-button [nzType]="'primary'" (click)="isCollapsed=!isCollapsed" class="collapsedbutton-position">
        <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed">
        </i>
      </button>
    </nz-header> -->
    <nz-content style="margin:24px 16px 0;">
      <nz-tabset [nzType]="'card'" [(nzSelectedIndex)]="index">
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
          <ng-template #titleTemplate>
            <div>{{tab}}<i *ngIf="tab != 'Main'" nz-icon type="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i></div>
          </ng-template>
          <div [ngSwitch]="tab">
            <router-outlet *ngSwitchCase="'role'" name="role"></router-outlet>
            <router-outlet *ngSwitchCase="'user'" name="user"></router-outlet>
            <router-outlet *ngSwitchCase="'permission'" name="permission"></router-outlet>
            <router-outlet *ngSwitchCase="'system'" name="system"></router-outlet>
            <router-outlet *ngSwitchCase="'service'" name="service"></router-outlet>
            <router-outlet *ngSwitchCase="'sso'" name="sso"></router-outlet>
            <router-outlet *ngSwitchDefault></router-outlet>
          </div>
          <!-- <router-outlet appChangeOutlet name="" [olName]="tab"></router-outlet> -->
        </nz-tab>
        <!-- <nz-tab nzTitle="A">
          <router-outlet></router-outlet>
        </nz-tab>
        <nz-tab nzTitle="B">
          <router-outlet name="role"></router-outlet>
        </nz-tab> -->
      </nz-tabset>

    </nz-content>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i class="anticon anticon-up"></i>
</ng-template>