.title-position {
    margin-top: -22px;
    color: white;
}

.icon-size {
    font-size: 25px;
    color: white;
    margin: 0;
}

.text-align {
    text-align: center;
}

.background-color {
    background: linear-gradient(120deg, #1f5f52, #5983e8);
}

a {
    color: white;
    text-decoration: none;
}

.nav-position {
    margin-left: 30%;
}

.person-style {
    position: absolute;
    top: 4px;
    right: 0px;
    color: white;
    text-align: center;
}

.sso-style {
    position: absolute;
    top: 9px;
    right: 110px;
    color: white;
    text-align: center;
}

.ssoicon-size {
    font-size: 25px;
    margin: 0;
}

:host ::ng-deep .ant-menu-horizontal {
    border-bottom: none;
}