<app-nav-menu></app-nav-menu>
<div class="panl-position">
    <div nz-row nzGutter="16">
        <div nz-col nzSpan="6">
            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel nzHeader="UPV" [nzActive]="true" [ngStyle]="{'background': '#f7f7f7','border-radius': '4px','margin-bottom': '24px','border': '0px'}">
                    <p>UPV</p>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div nz-col nzSpan="6">
            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel nzHeader="监控平台" [nzActive]="true" [ngStyle]="{'background': '#f7f7f7','border-radius': '4px','margin-bottom': '24px','border': '0px'}">
                    <p>监控平台</p>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div nz-col nzSpan="12">
            <nz-collapse [nzBordered]="false">
                <nz-collapse-panel nzHeader="仪表盘" [nzActive]="true" [ngStyle]="{'background': '#f7f7f7','border-radius': '4px','margin-bottom': '24px','border': '0px'}">
                    <p>仪表盘</p>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>
    <div nz-row nzGutter="16">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel nzHeader="平台管理" [nzActive]="true" [ngStyle]="{'background': '#f7f7f7','border-radius': '4px','margin-bottom': '24px','border': '0px'}">
                <p>平台管理</p>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>